{% extends 'base.html' %}

{% block content %}
    {% if user.is_superuser %}
        {% if not created %}
            
        <form action=" " method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

            <button type="submit">Create</button>
        </form>
        


        {% else %}
            <p>Your product has been successfully created!</p>
            <a href={% url 'product-detail-view' obj.slug %}>{{obj.id}}-{{obj.name}}</a>
        {% endif %}
    {% else %}
        <p>Seems like you don't have access to this page.Would you like to <a href={% url 'logout-view' %}>logout</a>?</p>
    {% endif %}
    
{% endblock content %}
