{% extends 'base.html' %}

{% block content %}
    <table class='table'>
        <thead>
            <tr>
                {% for field_name in fields_names %}
                    {% if field_name != 'img' %}
                        <td>{{field_name}}</td>
                    {% endif %}
                    
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                
                    <tr>
                        <td><a href={% url 'product-detail-view' obj.slug %}>{{obj.id}}</a></td>
                        <td>{{obj.name}}</td>
                        <td>{{obj.description}}</td>
                        <td>{{obj.quantity}}</td>
                        <td>{{obj.price}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}